{% extends 'layouts/base.html' %}
{% load humanize %}
{% block title %}Homepage - {{ block.super }} {% endblock %}
{% block content %}
    <div class="panel panel-primary">
    {% for experience in experiences %}
        <div class="panel-heading">
            <h2 class="panel-title"><a
                    href="{% url 'experience_detail' slug=experience.slug %}">{{ experience.name }}</a></h2>
        </div>
        <div class="panel-body">
            <p>{{ experience.description }}</p>

            {% if experience.social_accounts %}
                {% for account in experience.social_accounts.all %}
                    <li>{{ account.network|title }}</li>
                {% endfor %}
            {% endif %}

            {% if experience.uploads %}
                {% for upload in experience.uploads.all %}
                    <img src="{{ upload.image.url }}" alt=""/>
                {% endfor %}
            {% endif %}

            <p>{{ experience.user }}</p>
        </div>
    {% endfor %}
{% endblock %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Panel primary</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>